{{! views/partials/project.hbs

	Copyright 2017 Fast Dog Coding, LLC

	Licensed under the Apache License, Version 2.0 (the "License"); you may not
	use this file except in compliance with the License. You may obtain a copy
	of the License at

	http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
	WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
	License for the specific language governing permissions and limitations
	under the License.
}}
<div class="card project mt-3">
	<h5 class="card-header">{{name}}</h5>
	<table class="table table-sm">
		<tbody>
		<tr>
			<td><strong>Description</strong></td>
			<td>{{{description}}}</td>
		</tr>
		<tr>
			<td><strong>Roles</strong></td>
			<td>{{roles}}</td>
		</tr>
		<tr>
			<td><strong>Technologies</strong></td>
			<td>
				<ul class="list-inline">
					{{#technologies}}
						<li class="list-inline-item separated">{{this}}</li>
					{{/technologies}}
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>Benefits</strong></td>
			<td>{{{benefits}}}</td>
		</tr>
		</tbody>
	</table>
</div>